{% from "macros.html" import join_us with context %}
{% from "macros.html" import header with context %}
{% from "macros.html" import footer with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    {% endblock %}

    <title>{% block title %}PySlackers{% endblock %}</title>

    {% block link %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"
              rel="stylesheet"/>
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
    {% endblock %}

    {% block script %}
        <script defer src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script defer
                src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    {% endblock %}
</head>
<body>
{% block body %}

    {{ header() }}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {{ footer() }}

{% endblock %}

{# Flash messages as toasts #}
{% block messages %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script type="text/javascript">
              $(document).ready(function () {
                {% for category, message in messages %}
                  Materialize.toast('{{ message }}', 4000);
                {% endfor %}
              });
            </script>
        {% endif %}
    {% endwith %}
{% endblock %}
</body>
</html>
