{% macro join_us() %}
	<form action="{{ url_for('main.index') }}" method="post">
	    {{ form.csrf_token }}

	    <div class="col s12 m6 offset-m3 input-field">
	        <input type="email" class="validate" id="email" name="email"/>
	        <label for="email">Get an invite!</label>

	        <button class="btn waves-effect waves-light" type="submit" name="action">
	            Join
	            <i class="material-icons right">send</i>
	        </button>
	    </div>
	</form>
{% endmacro %}

{% macro footer() %}
	<footer class="page-footer">
	    <div class="footer-copyright">
	        <div class="container">
	            © 2017 PySlackers
	            <a class="grey-text text-lighten-4 right" href="https://github.com/pyslackers"
	               target="_blank">GitHub</a>
	        </div>
	    </div>
	</footer>
{% endmacro %}

{% macro header() %}
	<header class="header">
        <h2 class="headline"><a href="{{ url_for('main.index') }}" style="color: white;">PySlackers
            Community Site</a</h2>
        <ul class="header-subnav">
            {# Needs to set active class #}
            <li><a href="#about_us">About Us</a></li>
            <li><a href="#projects">Projects</a></li>
{#            {% if current_user.is_authenticated %}#}
{#                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>#}
{#            {% else %}#}
{#                <li><a href="{{ url_for('auth.login') }}">Login</a></li>#}
{#            {% endif %}#}
        </ul>
    </header>
{% endmacro %}