{% macro join_us(form, action) %}
	<form action="{{ action }}" method="post">
	    {{ form.csrf_token }}

	    <div class="col s12 m6 offset-m3 input-field">
	        <input type="email" class="validate" id="email" name="email" required/>
	        <label for="email">Get an invite!</label>

	        <button class="btn waves-effect waves-light" type="submit" name="action">
	            Join
	            <i class="material-icons right">send</i>
	        </button>
	    </div>
	</form>
{% endmacro %}